:root {
  --primary-900: #044e54;
  --primary-800: #0a6c74;
  --primary-700: #14919b;
  --primary-600: #14919b;
  --primary-500: #2cb1bc;
  --primary-400: #38bec9;
  --primary-300: #54d1db;
  --primary-200: #87eaf2;
  --primary-100: #bef8fd;
  --primary-50: #e0fcff;

  --neutral-900: #102a43;
  --neutral-800: #243b53;
  --neutral-700: #334e68;
  --neutral-600: #486581;
  --neutral-500: #627d98;
  --neutral-400: #829ab1;
  --neutral-300: #9fb3c8;
  --neutral-200: #bcccdc;
  --neutral-100: #d9e2ec;
  --neutral-50: #f0f4f8;

  --supporting-900: #19216c;
  --supporting-800: #2d3a8c;
  --supporting-700: #35469c;
  --supporting-600: #4055a8;
  --supporting-500: #4c63b6;
  --supporting-400: #647acb;
  --supporting-300: #7b93db;
  --supporting-200: #98aeeb;
  --supporting-100: #bed0f7;
  --supporting-50: #e0e8f9;

  background-color: var(--neutral-100);
}
